
/* Style the buttons that are used to open and close the faq-page body */
#question {
  transition: 0.4s;
  max-width: 80%;

}
#answer{ 
  max-width: 80%;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq:hover {
  background-color: #F9F9F9;
}

/* Style the faq-page panel. Note: hidden by default */
#answer {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

#question:after {
  content: 'url(./assets/image/reveal.svg)';
  /* Unicode character for "plus" sign (+) */

}

.active:after {
  content: "";
  /* Unicode character for "minus" sign (-) */
}