  .accordions h3 {
  text-align: center;
  font-weight: bold;
  }
  
  .accordion-item {
  background-color: #ffffff;
  color: #ffffff;
  margin-bottom: 20px;
  border: 3px solid #058182;
  }
  
  .accordion-item .accordion-title {
  cursor: pointer;
  padding: 20px;
  transition: transform 0.4s ease-in-out;
  }
  
  .accordion-item .accordion-title.active-title {
  background-color: #ffffff;
  color: #058182;
  }
  
  .accordion-item .accordion-title h3 {
  font-weight: 600;
  margin: 0;
  justify-content: space-between;
  color: #058182;
  font-size: 18px;
  display: flex;
  }
  
  .accordion-item .accordion-title i.fa-chevron-down {
  background: url(../images/reveal.svg);
  background-repeat: no-repeat;
  margin: 7px 0;
  width: 1rem;
  transform: rotate(0);
  transition: 0.4s;
  }
  
  .accordion-item .accordion-title i.fa-chevron-down.chevron-top {
  transform: rotate(-180deg);
  }
  
  .accordion-item .accordion-content {
  display: none;
  line-height: 1.7;
  color: #058182;
  padding: 20px;
  background-color: #ffffff;
  }
  
  .accordion-item .accordion-content.active {
  display: block;
  }
  
  .accordion-item .accordion-content p {
  margin: 0;
  font-size: 16px;
  }
  
  .details {
  background: #dce1f2;
  }
  
  .details .detailed_info {
  margin: 50px auto;
  }
  
  .details img {
  margin: 0 auto;
  display: block;
  }
  
  .details h3 {
  font-weight: bold;
  font-size: 20px;
  }
  
  .details p {
  font-size: 16px;
  line-height: 1.5em;
  }
  
  .details ul li {
  font-size: 16px;
  line-height: 1.7em;
  }