form{
  width: 100%;
  display: block;
  box-sizing: border-box;
}

label{
  font-weight: medium;
  color: #058182;
  margin-top: 30px;
  display: block;
}

input{
  padding: 10px 15px;
  margin: 10px 0;
  display: block;
  width: 100%;
  border: 2px solid #222222;
}


input:focus{
  border: 2px solid #058182;
  border-radius: 0;
  outline: none;
  color: #058182;
}

input[type=button]{
  margin-top: 3.5rem;
  width: 12rem;
  background-color: transparent;
  border: 2px solid #058182;
  text-transform: capitalize;
  color: #058182;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

input[type=button]:hover{
  background: #058182;
  color: white;
  transition: .5s ease-in-out;
}

