:root{
  --animation-curve: cubic-bezier (1,0,0,1);
}

.menu-wrap .toggle{
  opacity: 0;
}

.hamburger{
  width: 40px;
  height: 25px;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  margin-top: 16px;
  padding: 0;
}

.hamburger > div{
  position: relative;
  width: 100%;
  height: 2.5px;
  background-color: #058182;
  display: flex;
  align-items: center;
  justify-items: center;
}

.hamburger > div:before,
.hamburger > div:after{
  content: '';
  width: 100%;
  height: 3px;
  top: -12px;
  background-color: #058182;
  position: absolute;
  cursor: pointer;
  transition: all .6s ease;
  transform-origin: left top;
  transform: rotateZ(0deg);
}

.hamburger > div:after{
  top: 12px;
  transform-origin: left bottom;
  transform: rotateZ(0deg);
}


.menu-wrap .toggle:checked + .hamburger > div{
  background-color: white;

}

.menu-wrap .toggle:checked + .hamburger > div:before,
.menu-wrap .toggle:checked + .hamburger > div:after{
  transform: rotate(40deg);
  background-color: #f26522;
}  

.menu-wrap .toggle:checked + .hamburger > div:after{
  transform: rotate(-40deg);
  background-color: #f26522;
}  

@media screen and (max-width: 640px) {
  .slide-in{
    animation: slideIn .5s forwards;
  }

  .slide-out{
    animation: slideOut .5s forwards;
  }

  @keyframes slideIn {
    from{
      opacity: 0;
      transform: translateY(-5em);
    }

    to{
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideOut {
    from{
      opacity: 1;
      transform: translateY(0);
    }

    to{
      opacity: 0;
      transform: translateY(5em);
    }
  }
}

