body{
  font-family: "Poppins", sans-serif;
}

.hero-bg{
  background: url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.tojum-home-slider {
  background: #444;
  min-height: 600px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  /* overflow: hidden; */
  transform: translateZ(0);
}

.tojum-home-slider .mover-1 {
  -webkit-animation: moveImage 45s linear infinite;
  animation: moveImage 45s linear infinite;
}

.tojum-home-slider>div {
  height: 600px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateZ(0);
}


@keyframes moveImage{
  100% {
    transform: translateX(-50%);
  }
}
